<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <script>
      window.rootPrefix = /^\/(files|preview)\//.test(location.pathname)
        ? location.pathname.split('/').slice(0, 4).join('/')
        : '/';
    </script>
    <script type="module" src="../webfoundry/ifdesigner.js"></script>
    <script src="../webfoundry/head.js"></script>
  </head>
  <body
    class="flex justify-center items-center min-h-screen"
    style="display: none"
  >
    <div
      class="bg-white rounded-xl p-6 max-w-sm text-center shadow-xl outline-none"
      id="Error"
    >
      <form method="dialog">
        <div class="text-4xl mb-2">🙀</div>
        <h2 class="text-xl font-semibold" id="modal-title">Error</h2>
        <p class="mt-2 text-gray-600" id="modal-msg">{{this.props.msg}}</p>
        <button
          class="mt-4 px-4 py-2 bg-pink-500 hover:bg-pink-600 text-white rounded-full font-semibold"
          value=""
        >
          Close
        </button>
      </form>
    </div>
  </body>
</html>
